<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng">
    </agm-marker>
</agm-map>
<hr>
<!-- <div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="animacionInicial($event)" (@contenedorAnimable.done)="animacionTermina($event)"></div> -->
<!-- <button (click)="animar()" class="btn btn-default">animar</button> -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Lugares Cercanos</h2>
      <button class="btn btn-primary" routerLink="/crear"> Crear Nuevo Negocio</button>
      <hr />
      <ul class="list-group">
        <ng-container  *ngFor="let lugar of lugares">
          <li class="list-group-item" >
            <a routerLink="/detalle/{{lugar.id}}"> <h3>{{ lugar.nombre }}</h3> </a> 
            <span class="logo-star" *ngIf="lugar.plan=='pagado'"> <i class="fa fa-star" aria-hidden="true"></i> </span> 
            <br>
            <small>Creado: {{ lugar.id | date:'mediumTime' | uppercase }}</small>
            <span routerLink="/modificar/{{lugar.id}}" class="badge badge-info right"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-sm-4" [@contenedorAnimable]="state">
      <h2>Destacados</h2>
      <ng-container  *ngFor="let lugar of lugares">
        <div class="alert alert-warning padding" *ngIf="lugar.plan == 'pagado'">
          <a routerLink="/detalle/{{lugar.id}}"> <h3>{{ lugar.nombre }}</h3> </a>
          <p [innerHtml]="lugar.descripcion | linkifystr"></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>