<div class="container">
    <div class="row justify-content-center margin">  
      <div class="col align-self-center col-md-4">
        <div class="card">
          <div class="card-body">
            <label for="">Email</label>
            <input type="email" class="form-control" [(ngModel)]="registro.email" />
            <br>
            <label for="">Password</label>
            <input type="password" class="form-control" [(ngModel)]="registro.password"/>
            <hr>
            <button (click)="registrar()" class="btn btn-primary btn-block"> Registrarse! </button>
            <button class="btn btn-default btn-block"> Cancelar! </button>
          </div>
        </div>
      </div>
    </div>
  </div>